*{
    margin: 0;
}

body{
    font-family: sans-serif;
}

.container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
   
    
    gap: 20px;
    justify-items: center;
    margin-bottom: 30px;
    background-color: lightgray;

}

h1{
    text-align: center;
    background-color: darkgray;
    padding: 130px;
    margin-bottom: 30px;
    font-size: 48px;
}